<div class="container my-5">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{product.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Description</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{product.description}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Price</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">${{product.price}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Category</p>
                        </div>
                        <div class="col-sm-9">
                            {{#each product.category}}
                              <p class="text-muted mb-0">{{this}}</p>
                            {{/each}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">From</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{product.from}}</p>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Collection</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{product.date}}</p>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Stock</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0 fw-bold">{{product.stock}}</p>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Status</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0 fw-bold">{{product.status}}</p>
                    </div>
                    </div>
                    <div class="text-center mt-5">
                        <form method="POST" action="/admin/tables/product/update/{{product.slug}}">
                          <div class="row">
                            <div class="col-md-12 mb-4">

                              <div class="form-outline">
                                <input type="text" id="status" class="form-control form-control-lg bg-light" name="status" value="{{order.status}}" required/>
                                <label class="form-label" for="status">Status</label>
                              </div>

                            </div>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update status</button>
                          </div>
                          <div class="text-center">
                            <a href="/admin/tables/product/update-info">
                              <button type="button" class="btn btn-info">Update product infomation</button>
                            </a>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5">
      <h1 class="mb-4">All {{product.name}} orders</h1>
      <div class="mt-4"> <h5>Pending: {{pendingCount}}</h5></div>
      <div class="mt-4"> <h5>Shipping: {{shippingCount}}</h5></div>
      <div class="mt-4"> <h5>Done: {{doneCount}}</h5></div>
        <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Create date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Products</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 ">Total</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Note</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Promo Code</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 ">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each orders}}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{this.firstName}} {{this.lastName}}</h6>
                              <p class="text-xs text-secondary mb-0">{{this.email}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{this.apartment}} {{this.street}}</p>
                          <p class="text-xs text-secondary mb-0">{{this.city}}, {{this.country}}</p>
                          <p class="text-xs text-secondary mb-0"><span class="text-dark">Postal:</span> {{this.postal}}</p>
                        </td>
                        <td class="text-center text-sm">
                          <span class="text-secondary text-xs font-weight-bold">{{this.phone}}</span>
                        </td>
                        <td class="text-center">
                          <p class="text-xs text-secondary mb-0">{{this.createdAt}}</p>
                          <span class="badge badge-sm bg-gradient-success"></span>
                        </td>
                        <td class="align-middle">
                          {{#each this.cart}}
                            <div class="pb-2">
                                <p class="text-xs font-weight-bold mb-0">{{this.prod}}</p>
                                <p class="text-xs text-secondary mb-0">${{this.price}} <span class="text-dark">x</span> {{this.quant}}</p>
                            </div>
                          {{/each}}
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">${{this.grandTotal}}</span>
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.note}}</span>
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.promo}}</span>
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.status}}</span>
                        </td>
                        <td class="text-center">
                          <form method="POST" action="/admin/tables/product/order/update/{{this.slug}}">
                            <div class="form-group mb-3">
                              <select id="status" class="form-select" name="status" required>
                                <option value="Pending">Pending</option> 
                                <option value="Shipping">Shipping</option>  
                                <option value="Done">Done</option>    
                              </select>
                            </div>
                            <button class="btn btn-black btn-sm bg-gradient-success" type="submit">
                              Update status
                            </button>
                          </form>
                        </td>
                      </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>  