{{!-- JQUERY --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="d-flex justify-content-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 px-3">
                <div id="users-title">

                </div>
                <div class="d-flex">
                  <div class="dropdown d-inline mx-5">
                    <button class="btn btn-info dropdown-toggle mb-0" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"data-bs-target=".filterDropdown">
                      Name
                    </button>
                    <ul class="dropdown-menu filterDropdown">
                      {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                      {{#each userFullname}}
                        <li><a class="dropdown-item users-filter" value ='name/?value={{this}}' href="">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="dropdown d-inline mx-5">
                    <button class="btn btn-info dropdown-toggle mb-0" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"data-bs-target=".filterDropdown">
                      Email
                    </button>
                    <ul class="dropdown-menu filterDropdown">
                      {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                      {{#each userEmail}}
                        <li><a class="dropdown-item users-filter" value ="email/?value={{this}}" href="">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="dropdown d-inline ms-5">
                      <button class="btn btn-info dropdown-toggle mb-0" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target=".sortDropdown">
                        Sort
                      </button>
                      <ul class="dropdown-menu sortDropdown">
                        <li><a class="dropdown-item users-filter" value = "user/name-asc" href="">Name</a></li>
                        <li><a class="dropdown-item users-filter" value = "user/email-asc" href="">Email</a></li>
                        <li><a class="dropdown-item users-filter" value = "user/time-asc" href="">Registration time</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Infomation</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Create date</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody id="users-list">
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="d-flex justify-content-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 px-3">
                <div>
                  <div id="products-title" class="d-inline">

                  </div>
                  <div class="d-inline">
                    <a href ="product/add">
                      <button class="btn btn-info d-inline mb-0">
                        <h6 class="text-white text-capitalize mb-0">Add product</h6>
                      </button>
                    </a>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="dropdown d-inline mx-5">
                    <button class="btn btn-info dropdown-toggle mb-0" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"data-bs-target=".filterDropdown">
                      Category
                    </button>
                    <ul class="dropdown-menu filterDropdown">
                      {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                      <li><a class="dropdown-item products-filter" value="products/popular">Popular</a></li>
                      <li><a class="dropdown-item products-filter" value="products/outer">Outerwear</a></li>
                      <li><a class="dropdown-item products-filter" value="products/top">Top</a></li>
                      <li><a class="dropdown-item products-filter" value="products/bottom">Bottom</a></li>
                      <li><a class="dropdown-item products-filter" value="products/accessories">Accessories</a></li>
                      <li><a class="dropdown-item products-filter" value="products/shoes">Shoes</a></li>
                    </ul>
                  </div>
                  <div class="dropdown d-inline mx-5">
                    <button class="btn btn-info dropdown-toggle mb-0" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"data-bs-target=".filterDropdown">
                      From
                    </button>
                    <ul class="dropdown-menu filterDropdown">
                      {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                      {{#each productFrom}}
                        <li><a class="dropdown-item products-filter" value ="from/?value={{this}}" href="">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="dropdown d-inline mx-5">
                    <button class="btn btn-info dropdown-toggle mb-0" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"data-bs-target=".filterDropdown">
                      Collection
                    </button>
                    <ul class="dropdown-menu filterDropdown">
                      {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                      {{#each productDate}}
                        <li><a class="dropdown-item products-filter" value ="date/?value={{this}}" href="">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="dropdown d-inline ms-5">
                      <button class="btn btn-info dropdown-toggle mb-0" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target=".sortDropdown">
                        Sort
                      </button>
                      <ul class="dropdown-menu sortDropdown">
                        <li><a class="dropdown-item products-filter" value="products/price-asc" href="">Price</a></li>
                        <li><a class="dropdown-item products-filter" value="products/time-asc" href="">Creation time</a></li>
                        <li><a class="dropdown-item products-filter" value="products/purchase-asc" href="">Total purchase</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stock</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">From</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Collection</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="products-list">
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


{{!-- Template for users --}}
<script type="text/x-handlebars-template" id = "titleUsers-holder">
  <h6 class="text-white text-capitalize">\{{titleUsers}}</h6>
</script>
<script type="text/x-handlebars-template" id = "users-holder">
  \{{#each users}}
    <tr>
      <td>
        <div class="d-flex px-2 py-1">
          <div>
            <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">\{{this.fullname}}</h6>
            <p class="text-xs text-secondary mb-0">Username: \{{this.username}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="text-xs font-weight-bold mb-0">\{{this.email}}</p>
        <p class="text-xs text-secondary mb-0">\{{this.phone}}</p>
      </td>
      <td class="align-middle text-center text-sm">
        <span class="badge badge-sm bg-gradient-primary">\{{this.status}}</span>
      </td>
      <td class="align-middle text-center">
        <span class="text-secondary text-xs font-weight-bold">\{{this.createdAt}}</span>
      </td>
      <td class="align-middle">
        <a href="/admin/tables/user/\{{this.slug}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
          View profile
        </a>
      </td>
    </tr>
  \{{/each}}
</script>

{{!-- Template for products --}}
<script type="text/x-handlebars-template" id = "titleProducts-holder">
  <h6 class="text-white text-capitalize d-inline me-5">\{{titleProducts}}</h6>
</script>
<script type="text/x-handlebars-template" id = "products-holder">
  \{{#each products}}
      <tr>
        <td>
          <div class="d-flex px-2">
            <div>
              <img src="../assets/img/small-logos/github.svg" class="avatar avatar-sm rounded-circle me-2" alt="invision">
            </div>
            <div class="my-auto">
              <h6 class="mb-0 text-sm">\{{this.name}}</h6>
            </div>
          </div>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">$\{{this.price}}</p>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">\{{this.stock}}</p>
        </td>
        <td>
          <span class="text-xs font-weight-bold">\{{this.status}}</span>
        </td>
        <td class="align-middle text-center">
          \{{#each this.category}}
            <p class="text-xs font-weight-bold">\{{this}}</p>
          \{{/each}}
        </td>
        <td class="align-middle text-center">
          <span class="text-xs font-weight-bold">\{{this.from}}</span>
        </td>
        <td class="align-middle text-center">
          <span class="text-xs font-weight-bold">\{{this.date}}</span>
        </td>
        <td class="align-middle">
          <a href="/admin/tables/product/\{{this.slug}}">
            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v text-xs"></i>
            </button>
          </a>
        </td>
      </tr>
    \{{/each}}
</script>


{{!-- Ajax script --}}
<script>
  
  $(document).ready(function(){
    $.ajax({
      type: "GET",
      url: document.URL + '?getall=users',
      success: function(response){
        //alert('Start users');
        handleResponseUsers(response);
      },
      error: function(err){
        console.log(err);
        //alert('Failed1 users');
      }
    });    

    $.ajax({
      type: "GET",
      url: document.URL + '?getall=products',
      success: function(response){
        //alert('Start products');
        handleResponseProducts(response);
      },
      error: function(err){
        console.log(err);
        //alert('Failed1 products');
      }
    });  
  });
</script>
<script>
    $('.users-filter').on('click', function(e){
    e.preventDefault();
    var value = this.getAttribute('value');
    console.log(document.URL + '/' + value);
    $.ajax({
      type: "GET",
      url: document.URL + '/' + value,
      success: function(response){
        handleResponseUsers(response);
      },
      error: function(err){
        console.log(err);
        //alert('Failed2');
      }
    });    
  });

  $('.products-filter').on('click', function(e){
    e.preventDefault();
    var value = this.getAttribute('value');
    console.log(document.URL + '/' + value);
    $.ajax({
      type: "GET",
      url: document.URL + '/' + value,
      success: function(response){
        handleResponseProducts(response);
      },
      error: function(err){
        console.log(err);
        //alert('Failed2');
      }
    });    
  });

  function handleResponseUsers(response){
    var context = {
        users: response.users,
        titleUsers: response.titleUsers      
    };   
    loadTemplate("users-holder", context, "users-list");
    loadTemplate("titleUsers-holder", context, "users-title");
  }

  function handleResponseProducts(response){
    var context = {
        products: response.products,
        titleProducts: response.titleProducts      
    };
    loadTemplate("products-holder", context, "products-list");
    loadTemplate("titleProducts-holder", context, "products-title");
  }

  function loadTemplate(templateid, context, targetid){
    var template = document.getElementById(templateid).innerHTML;
    var compiledTemplate = Handlebars.compile(template);
    var result = compiledTemplate(context);
    document.getElementById(targetid).innerHTML = result;
    //alert('Loaded' + " " + targetid);
  }
</script>