<section>
  <div class="container mt-5 py-5">

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.username}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Password</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.password}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.fullname}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.phone}}</p>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Sex</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.sex}}</p>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.address}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
      <h1 class="mb-4">{{user.fullname}}'s cart</h1>
      <div class="row mb-5">
        <div class="site-blocks-table">
            <table class="table table-bordered thead-dark table-striped">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each cartWithImg}}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="{{this.image}}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{this.prod}}</h2>
                    </td>
                    <td class="prod-price {{prodClassFromName this.prod}}">${{this.price}}</td>
                    <td class="d-flex justify-content-around prod-quant">
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <p class="prod-quant {{prodClassFromName this.prod}}">{{this.quant}}</h3>
                      </div>

                    </td>
                    <td class="prod-total {{prodClassFromName this.prod}}"></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  {{#each cartWithImg}}
                    <div class="mb-2"><strong class="text-black subtotal {{prodClassFromName this.prod}}"></strong></div>
                  {{/each}}
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black grandtotal" ></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h1 class="mb-4">{{user.fullname}}'s order</h1>
        <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Create date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Products</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 ">Total</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Note</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Promo Code</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each ordersWithGrandTotal}}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{this.firstName}} {{this.lastName}}</h6>
                              <p class="text-xs text-secondary mb-0">{{this.email}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{this.apartment}} {{this.street}}</p>
                          <p class="text-xs text-secondary mb-0">{{this.city}}, {{this.country}}</p>
                          <p class="text-xs text-secondary mb-0"><span class="text-dark">Postal:</span> {{this.postal}}</p>
                        </td>
                        <td class="text-center text-sm">
                          <span class="text-secondary text-xs font-weight-bold">{{this.phone}}</span>
                        </td>
                        <td class="text-center">
                          <p class="text-xs text-secondary mb-0">{{this.createdAt}}</p>
                          <span class="badge badge-sm bg-gradient-success"></span>
                        </td>
                        <td class="align-middle">
                          {{#each this.cart}}
                            <div class="pb-2">
                                <p class="text-xs font-weight-bold mb-0">{{this.prod}}</p>
                                <p class="text-xs text-secondary mb-0">${{this.price}} <span class="text-dark">x</span> {{this.quant}}</p>
                            </div>
                          {{/each}}
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">${{this.grandTotal}}</span>
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.note}}</span>
                        </td>
                        <td class="text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.promo}}</span>
                        </td>
                      </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>  
  </div>
</section>

<script>
    function calcProductPrice(quant, price, displayTag, subtotalTag) {
        displayTag.innerHTML = `$${quant * price}`;
        subtotalTag.innerHTML = `$${quant * price}`;
    }
    function calcGrandTotal(subtotalAll, grandTotalTag) {
        const grandTotalNum = subtotalAll.reduce( (accum, ele) => {
            return accum + ele;
        },0);
        
        grandTotalTag.innerHTML = `$${grandTotalNum}`;
    }


    let cart = {{{json cartWithImg}}};
    let subtotalAll = []
    for(var i = 0; i < cart.length; ++i) {
        const displayTag = document.querySelector(`.prod-total.${cart[i].prod.replaceAll(' ','-')}`);
        const subtotalTag = document.querySelector(`.subtotal.${cart[i].prod.replaceAll(' ','-')}`);
        calcProductPrice(cart[i].quant, cart[i].price, displayTag, subtotalTag);
        subtotalAll.push(cart[i].quant * cart[i].price);
    }

    calcGrandTotal(subtotalAll, document.querySelector('.grandtotal'));
</script>